/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin on body
*/
body {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-bottom: 0.5em;
}

:root {
  --primary-color: #eb9420;
  --dark-color: #271905;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  margin-bottom: 2rem;
}

article {
  margin-bottom: 2rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1260px;
  margin-inline: auto;
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 10px;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #000000;
}

.btn-primary:hover,
.btn-primary:focus-visible {
  background-color: #eea546;
  transition: background-color 300ms ease;
}

.btn-secondary {
  border: 2px solid var(--primary-color);
  color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:focus-visible {
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.header-grid {
  display: grid;
}

.phone {
  border-top: 4px solid var(--primary-color);
  text-align: center;
}

.header-phone {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header-grid {
    grid-template-columns: 1fr 2fr;
  }
  .logo {
    grid-row: 1/3;
    align-self: center;
  }
  .phone {
    display: grid;
    justify-content: end;
    border-top: none;
    text-align: right;
  }
  .header-phone {
    border-top: 4px solid var(--primary-color);
    font-size: min(1.675rem, 3vw);
  }
}
.slider {
  overflow: hidden;
}

.slider:hover .prev-btn {
  transform: translateX(0);
  transition: transform 300ms ease;
}

.slider:hover .next-btn {
  transform: translateX(0);
  transition: transform 300ms ease;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.slider-item {
  width: 100%;
  flex-shrink: 0;
}

.slider-item img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
  color: #000000;
  font-size: 5rem;
  padding-inline: 20px;
  cursor: pointer;
}

.prev-btn {
  transform: translateX(-100%);
  transition: transform 300ms ease;
}

.next-btn {
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms ease;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 2rem;
}

.primary-nav__list,
.primary-nav-sub__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.primary-nav__list {
  --gap: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .hamburger-line {
    display: block;
    width: 22px;
    height: 3px;
    background-color: black;
  }
  .hamburger-line:nth-child(1) {
    rotate: 0deg;
    transform-origin: left;
    transition: rotate 300ms;
  }
  .hamburger-line:nth-child(2) {
    opacity: 1;
    transition: opacity 300ms;
  }
  .hamburger-line:nth-child(3) {
    rotate: 0deg;
    transform-origin: left;
    transition: rotate 300ms;
  }
  .menu-toggle[aria-expanded=true] .hamburger-line:nth-child(1) {
    rotate: 45deg;
    transform-origin: left;
    transition: rotate 300ms;
  }
  .menu-toggle[aria-expanded=true] .hamburger-line:nth-child(2) {
    opacity: 0;
    transition: opacity 300ms;
  }
  .menu-toggle[aria-expanded=true] .hamburger-line:nth-child(3) {
    rotate: -45deg;
    transform-origin: left;
    transition: rotate 300ms;
  }
  .primary-nav__list {
    position: absolute;
    background-color: orange;
    top: 0;
    right: 0;
    left: 30%;
    padding-block: 4rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 1px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .primary-nav__list[data-state=opened] {
    animation: menuOpen 300ms ease-in-out forwards;
    display: block;
  }
  .primary-nav__list[data-state=closing] {
    animation: menuClose 300ms ease-in-out forwards;
  }
  .primary-nav__list[data-state=closed] {
    display: none;
  }
}
@keyframes menuOpen {
  0% {
    transform: translateX(105%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes menuClose {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(105%);
  }
}
.primary-nav__item > a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .primary-nav {
    grid-column: 1/-1;
  }
  .primary-nav__list {
    flex-direction: row;
    justify-content: space-around;
  }
  .primary-nav__item > a {
    border-bottom: 4px solid transparent;
  }
  .primary-nav__item > a:hover {
    border-bottom: 4px solid orange;
  }
}
@media screen and (min-width: 1200px) {
  .primary-nav {
    grid-column: 2/-1;
  }
  .primary-nav__list {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.hero {
  min-height: 200px;
  background-image: url("../images/measure-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.hero-banner-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding-block: 1rem;
}

.title {
  padding: 1rem;
}

.title h1 {
  font-size: clamp(1.375rem, 3vw, 1.75rem);
  font-weight: 500;
}

.hero-banner-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  padding: 1rem;
  background-color: var(--dark-color);
}

.hero-banner-contact p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 400px;
    background-image: url("../images/measure.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
  }
}
.services h2 {
  margin-top: 0;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.quote-form {
  width: 400px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-form::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.quote-form form {
  display: grid;
  gap: 1rem;
}

.quote-form form div {
  display: grid;
}

footer {
  padding: 1rem;
  line-height: 1;
  background-color: var(--dark-color);
  color: #ffffff;
}

footer h2 {
  margin-top: 0;
  font-size: 1.25rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer-grid > div:not(:first-child) {
  border-left: 5px solid var(--primary-color);
  padding-left: 1rem;
}/*# sourceMappingURL=styles.css.map */