footer {
    background-color: var(--dark-color);
    color: #ffffff;
    padding: 1rem;
}

footer h2 {
    margin-top: 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}