.hero {
    min-height: 200px;
    background-image: url('../images/measure-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
}

@media screen and (min-width: 768px) {
    .hero {
        min-height: 400px;
        background-image: url('../images/measure.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 40%;
    }
}
