.hero {
    min-height: 200px;
    background-image: url('../images/measure-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-overlay {
    background-color: rgba(255,255,255,0.7);
}

.hero-banner-overlay {
    background-color: rgba(0,0,0,0.6);
    padding-block: 1rem;
}

.title {
    padding: 1rem;
}

.title h1 {
    font-size: clamp(1.375rem, 3vw, 1.75rem);
    font-weight: 500;
}

.hero-banner-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .hero {
        min-height: 400px;
        background-image: url('../images/measure.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 40%;
    }
}